header {
    position: relative;
    grid-area: header;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(244, 243, 238);
    border-radius: 0 010px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    grid-area: main;
}

footer {
    position: relative;
    bottom: 0;
    grid-area: footer;
    background-color: rgb(244, 243, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

body {
    position: absolute;
    width: 768px;
    padding: 0;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
     "header"
     "main"
     "footer"
    ;
}

.images {
    display: flex;
    justify-content: space-around;
}

.img1, .img2, .img3 {
    border: 2px solid rgb(189, 187, 187);
    border-radius: 10px;
    padding: 5px;
    max-width: 220px;
    text-align: center;
    overflow-wrap: break-word;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}