header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

body {
    position: absolute;
    width: 768px;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
     "header"
     "main"
     "footer"
    ;
}

.images {
    display: flex;
    justify-content: space-around;
    
}


.img1, .img2, .img3 {
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
    max-width: 220px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

 