header {
    position: relative;
    grid-area: header;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(244, 243, 238);
    border-radius: 0 010px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav1 {
    grid-area: nav1;

}

.nav2 {
    grid-area: nav2;
    
}

main {
    grid-area: main;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    position: relative;
    bottom: 0;
    grid-area: footer;
    background-color: rgb(244, 243, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

body {
    position: absolute;
    width: 768px;
    height: 100%;
    padding: 0;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 8fr 1fr;
    grid-template-areas:
     "header header"
     "nav1 nav2"
     "nav1 main"
     "footer footer"
    ;
}

.images {
    display: flex;
    justify-content: space-around;
}

.img1, .img2, .img3 {
    border: 2px solid rgb(189, 187, 187);
    border-radius: 10px;
    padding: 5px;
    max-width: 220px;
    text-align: center;
    overflow-wrap: break-word;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.left-list {
    list-style: none;
    padding: 2em 1em 0 0;
}

.left-list > * {
    margin-bottom: 2em;
}

.tableau {
    width: 420px;
}

.tableau2 {
    width: 420px;
}

.categorie-en-evidence {
    background-color: aqua;
}
